/* Color scheme:
  main color:#6B7A8F;
  accents: #F7882F; and #F76331;
  footer:#AAAAAA;
  divs:   #DCC7AA;

 */




.ml9 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
}

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10000000000;
   background-color: #6B7A8F;
   background-position: center;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}


h1
{
    font-size:  3.998em ;
}
h2
{
    font-size:  2.827em ;
}
h3
{
    font-size: 1.999em ;
}
h4
{
    font-size: 1.414em ;
}
h5{
    font-size:  1.21em ;
}
p
{
    font-size: 1em;
}
h1, h2, h3, h4, p, h5, a, span
{
    font-family: 'Jockey One', sans-serif;
}
body {
    margin:0;
    padding:0;
}
.navButton{
    background-color: transparent;
    color: white;
    border: 2px solid #DCC7AA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#hero{
    display:inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 50%;
    padding: 0;
    margin-bottom: -5px;
}
footer{
  display:inline-block;
  vertical-align: top;
  width: 100%;
  min-height: 500px;
  background-color: #AAAAAA;
  padding: 0;
}
#heroVideo {
    right: 0;
    bottom: 0;
    width: 100%;
    height: 500px;
    object-fit: fill;
}
.videoContent {
    position: absolute;
    top:0;
    color: #f1f1f1;
    padding: 20px;
    float: left;
    margin-left: 10%;
}
#about{
    display:inline-block;
    vertical-align: top;
    width: 100%;
    background-color:   #DCC7AA;
    min-height:500px;
}
#tutorials{
  display:inline-block;
  vertical-align: top;
  width: 100%;
  background-color: #6B7A8F;
    min-height:500px;

}
.accent1{
  min-height: 100px;
  background-color: #F7882F;
}
.accent2{
  min-height: 100px;
  background-color: #F76331;
}
.tint
{
  position: relative;
}
.tint:after
{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.6);
	transition: all .3s linear;
  margin-bottom: 5px;
}

.tint h1, .tint h3, .tint a, .tint button{
  position: relative;
	z-index: 1000000;
}
.buttons{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-left: 0;
}
.buttons button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
  /* width: 20%; */
}
.buttons span{
  display: block;
  padding: 25px 80px;
}
.buttons button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.buttons button:hover::before, button:hover::after{
  width: 100%;
}
.buttons button:hover span::before, button:hover span::after{
  height: 100%;
}

/*----- button 6 -----*/
.btn-6::before{
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.btn-6::after{
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-6 span::before{
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6 span::after{
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6:hover::before, .btn-6:hover::after{
  left: 0;
}
.btn-6:hover span::before, .btn-6:hover span::after{
  top: 0;
}

/* CSS for hero button */
.buttonsTop{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-left: 0;
  background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonsTop button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
}
.buttons span, .buttonsTop span{
  display: block;
  padding: 25px 80px;
}
.buttonsTop button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.buttonsTop button:hover::before, button:hover::after{
  width: 100%;
}
.buttonsTop button:hover span::before, button:hover span::after{
  height: 100%;
}
.headSpan span{

}

/* start of mobile css. only put mobile css below this */

@media(max-width:1000px)
{
  .buttons button{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 24px;
    background: rgba(0,0,0,0.09);
    width: 30%;
    float: left;
  }
  .buttons span{
    display: block;
    padding: 25px;
    font-size: 1rem;
  }
  .headSpan{
    display: block;
    padding: 30px;
    margin: 0 auto;
    font-size: 1rem;
  }

}

@media(max-width:700px)
{
  .buttons button{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    padding: 10px 24px;
    background: rgba(0,0,0,0.09);
    width: 30%;
    float: left;
    margin: 5px;
  }
  .buttons span{
    display: block;
    font-size: 1rem;
    padding: 0;
  }
  h1
  {
      font-size:  2.827em ;
  }
  h2
  {
      font-size: 1.999em ;
  }
  h3
  {
      font-size: 1.414em ;
  }
  h4{
      font-size:  1.21em ;
  }
}
@media(max-width:500px)
{
  .headSpan{
    display: block;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    font-size: 1rem;
  }
}
@media(max-width:300px)
{
  .buttons span{
    display: block;
    font-size: .7rem;
    padding: 0;
  }
}

#hero, #about, #tutorials{
  display: none;
}
