/* Author: Nathanial Bergan & Aaron Grode */
/* Date: October 2018 */ 

/* Color scheme:
  main color:#6B7A8F;
  accents: #F7882F; and #F76331;
  footer:#AAAAAA;
  divs:   #DCC7AA;

 */

/* .transition{
	transform:translateY(-80px);
	transition:transform .8s ease-in-out;
} */


.contentDisplayGrid
{
	padding: 0;
	margin: 0;
	list-style: none;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    padding-bottom: 20px;
}

@supports (display: grid) {
	.contentDisplayGrid {
		display: grid;
		padding: 0;
		margin: 0;
		grid-template-columns: 25% 25% 25%;
		justify-content:center;
		padding-bottom: 50px;
        justify-items: center;
	}
}

.bubbles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateZ(0);
}

.bubbles li{
    position: absolute;
    list-style: none;
    display: block;
    background-color: white;
    opacity: 0.5;
    bottom: -50px;
    animation: circle 20s infinite;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1){
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 20%;
}

.bubbles li:nth-child(2){
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 40%;
    animation-delay: 2s;
    animation-duration: 17s;
}

.bubbles li:nth-child(3){
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 60%;
    animation-delay: 4s;
    animation-duration: 13s;
}

.bubbles li:nth-child(4){
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 80%;
    animation-delay: 1s;
    animation-duration: 22s;
}

.bubbles li:nth-child(5){
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 50%;
    animation-delay: 5s;
    animation-duration: 15s;
}

.bubbles li:nth-child(6){
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 10%;
    animation-delay: 1s;
    animation-duration: 11s;
}

.bubbles li:nth-child(7){
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 90%;
    animation-delay: 7s;
    animation-duration: 12s;
}

.bubbles li:nth-child(8){
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 15%;
    animation-delay: 2s;
    animation-duration: 8s;
}

@keyframes circle {
    0%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100%{
        -webkit-transform: translateY(-1080px) rotate(630deg);
        transform: translateY(-1080px) rotate(630deg);
    }
}

/* start orange display */
.orangeBack{
    height: 100px;
	width: 100px;
	padding: 10px;
	overflow: hidden;
    background-color: #F7882F;
}
svg .orangeBack{
    fill:#6B7A8F;
    stroke:#F7882F;
    padding: 200px;
}
svg:hover .orangeBack{
    fill:#F7882F;
    stroke:#6B7A8F;
    transition: all .3s linear;
}
.orangeBack:hover{
  background-color: #DCC7AA;
  transition: all .3s linear;
}
/* end orange */
/* start dark display */
.darkBack{
  height: 100px;
	width: 100px;
	overflow: hidden;
  background-color: #AAAAAA;
}
svg .darkBack{
    fill:#F7882F;
    stroke:#AAAAAA;
    padding: 200px;
}
svg:hover .darkBack{
    fill:#AAAAAA;
    stroke:#F7882F;
    transition: all .3s linear;
}
.darkBack:hover{
  background-color: #F7882F;
  transition: all .3s linear;
}
/* end dark */
/* start red display */
.redBack{
  height: 100px;
	width: 100px;
	overflow: hidden;
  background-color: #F76331;
}
svg .redBack{
    fill:#6B7A8F;
    stroke:#F76331;
    padding: 200px;
}
svg:hover .redBack{
    fill:#F76331;
    stroke:#DCC7AA;
    transition: all .3s linear;
}
.redBack:hover{
  background-color: #DCC7AA;
  transition: all .3s linear;
}
/* end red */
/* start yellow display */
.yellowBack{
  height: 100px;
	width: 100px;
	overflow: hidden;
  background-color: #F7C331;
}
svg .yellowBack{
    fill:#6B7A8F;
    stroke:#F7C331;
    padding: 200px;
}
svg:hover .yellowBack{
    fill:#DCC7AA;
    stroke:#F7C331;
    transition: all .3s linear;
}
.yellowBack:hover{
  background-color: #DCC7AA;
  transition: all .3s linear;
}

/* end yellow */
/* start of standard 100x100 square */
.standardSquare
{
  height: 200px;
  width: 50%;
  overflow: hidden;
  display: block;
  margin: 10px;
  padding: 0;
    border-width: 5px;
    border-style: outset;
    border-color: #AAAAAA;
    border-radius: 50%;
    box-shadow: 10px 10px 25px;
}

.standardSquare:hover{
    box-shadow: 5px 5px 15px;
}

standardSquare:before{
    content'';
    position:absolute;
    top:0;
    left:0;
    width:40%;
    height: 100%;
    background: rgba(255,255,255, .5);
    transition: .5s;
    transform: skewX(-15deg);
}

/* end square */
/* start of rectangle */
.rectangle
{
  height: 200px;
  width: 50%;
  overflow: hidden;
  display: block;
  margin: 10px;
  padding: 0;
    border-radius: 50%;
    border-width: 5px;
    border-style: outset;
    border-color: #AAAAAA;
    border-radius: 50%;
    box-shadow: 10px 10px 25px;
}

.rectangle:hover{
    box-shadow: 5px 5px 15px;
}
/* end rectangle */
/* start of largeSquare */
.largeSquare
{
  height: 350px;
  width: 97%;
  overflow: hidden;
  display: block;
  margin: 10px;
  padding: 0;
}
/* end largeSquare */
/* every image we add to the grid needs both a unique class and an svg height and width and an orange */
@keyframes rightFadeIn {
  0% {
    position: relative;
    right: -5rem;
    opacity: 0;
  }

  100% {
    position: relative;
    right: 0rem;
    opacity: 1;
  }
}

@keyframes leftFadeIn {
  0% {
    position: relative;
    right: +5rem;
    opacity: 0;
  }

  100% {
    position: relative;
    right: 0rem;
    opacity: 1;
  }
}

.tutorial_Text{
    text-align: center;
    color: white;
    padding: 10px;
    padding-bottom: 50px;
    font-size: 2em;
}

.display1{
    grid-column: 1;
    grid-row: 1;
}
.text1{
    grid-column: 1;
    grid-row: 2; 
}

.display2{
  grid-column: 2;
  grid-row: 1;
}
.text2{
    grid-column: 2;
    grid-row: 2;
}

.display3{
  grid-column: 3;
  grid-row: 1;
}
.text3{
    grid-column: 3;
    grid-row: 2; 
}

.display4{
  grid-column: 1;
  grid-row: 3;
}
.text4{
    grid-column: 1;
    grid-row: 4;   
}

.display5{
  grid-column: 2;
  grid-row: 3;
}
.text5{
    grid-column: 2;
    grid-row: 4;   
}

.display6{
  grid-column: 3;
  grid-row: 3;
}
.text6{
    grid-column: 3;
    grid-row: 4;   
}

.display7{
  grid-column: 1;
  grid-row: 7;
}
.text7{
    grid-column: 1;
    grid-row: 8;   
}

.display8{
  grid-column: 2;
  grid-row: 7;
}
.text8{
    grid-column: 2;
    grid-row: 8;   
}

.display9{
  grid-column: 3;
  grid-row: 7;
}
.text9{
    grid-column: 3;
    grid-row: 8;   
}

.display10{
  grid-column: 1;
  grid-row: 10;
}
.text10{
    grid-column: 1;
    grid-row: 11;   
}

.display11{
  grid-column: 2;
  grid-row: 10;
}
.text11{
    grid-column: 2;
    grid-row: 11;   
}

.ml9 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
}

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10000000000;
background-color: #202020;
   background-position: center;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}


h1
{
    font-size:  3.998em ;
}
h2
{
    font-size:  2.827em ;
}
h3
{
    font-size: 1.999em ;
}
h4
{
    font-size: 1.414em ;
}
h5{
    font-size:  1.21em ;
}
p
{
    font-size: 1em;
}
h1, h2, h3, h4, p, h5, a, span
{
    font-family: 'Jockey One', sans-serif;
}
body {
    margin:0;
    padding:0;
}
.navButton{
    background-color: transparent;
    color: white;
    border: 2px solid #DCC7AA;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
#hero{
    display:inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 50%;
    padding: 0;
    margin-bottom: -5px;
}
footer{
    display:inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    min-height: 400px;
    background-color: #AAAAAA;
    padding: 0;
}
#heroVideo {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.videoContent {
    position: absolute;
    top:0;
    color: #f1f1f1;
    padding: 20px;
    padding-top: 10%;
    padding-left: 50%;
    float: left;
    margin-left: 10%;
}
#about{
    display:inline-block;
    vertical-align: top;
    width: 100%;
    background-color:   #DCC7AA;
    min-height:500px;
}
#about_image{
    position:relative;
    min-height: 150px;
    min-width: 200px;
    width: 25%;
    height: 600px;
    left: 62%;
    border: 5px solid transparent;
}
#about4{
    min-height: 100px;
    background-color: transparent;
    width: 46%;
    float: right;
    position:relative;
    top: 150px;
    right: 30%;
    padding-right: 11%;
    padding-bottom: 10%;
    border-color: grey;
    z-index: +2;
}
#tutorials{
    display:inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #6B7A8F;
    min-height:500px;

}
.accent1{
    min-height: 100px;
    background-color: #DCC7AA;
    width: 45%;
    float: right;
    position:relative;
    top: 300px;
    right: 720px;
    border-color: grey;
    border: 5x solid;
    z-index: +2
}
.accent2{
    min-height: 50px;
    background-color: #F76331;
    z-index: 2;
}

.tutorialContent{
    text-align: center;
    color: white;
}

.tint
{
  position: relative;
}
.tint:after
{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.6);
	transition: all .3s linear;
  margin-bottom: 5px;
}

.tint h1, .tint h3, .tint a, .tint button{
  position: relative;
	z-index: 1000000;
}
.buttons{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 0;
}
.buttons button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
  margin-bottom: 50px;
  /* width: 20%; */
}
.buttons span{
  display: block;
  padding: 25px 80px;
}
.buttons button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.buttons button:hover::before, button:hover::after{
  width: 100%;
}
.buttons button:hover span::before, button:hover span::after{
  height: 100%;
}

/*----- button 6 -----*/
.btn-6::before{
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.btn-6::after{
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-6 span::before{
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6 span::after{
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6:hover::before, .btn-6:hover::after{
  left: 0;
}
.btn-6:hover span::before, .btn-6:hover span::after{
  top: 0;
}

/* CSS for hero button */
.buttonsTop{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-left: 0;
  background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonsTop button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
}
.buttons span, .buttonsTop span{
  display: block;
  padding: 25px 80px;
}
.buttonsTop button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.buttonsTop button:hover::before, button:hover::after{
  width: 100%;
}
.buttonsTop button:hover span::before, button:hover span::after{
  height: 100%;
}
.headSpan span{

}

/* start of mobile css. only put mobile css below this */
/* _____________________________________________________________________ */

@media(max-width:1000px)
{
  .buttons button{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 24px;
    background: rgba(0,0,0,0.09);
    width: 30%;
    float: left;
  }
  .buttons span{
    display: block;
    padding: 25px;
    font-size: 1rem;
  }
  .videoContent{
    padding: 0;
  }
  .buttonsTop span{
    display: block;
    padding: 0;
  }
  .headSpan{
    display: block;
    padding: 30px;
    margin: 0 auto;
    font-size: 1rem;
  }

}

@media(max-width:700px)
{
  .buttons button{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    padding: 10px 24px;
    background: rgba(0,0,0,0.09);
    width: 30%;
    float: left;
    margin: 5px;
  }
  .buttons span{
    display: block;
    font-size: 1rem;
    padding: 0;
  }
  h1
  {
      font-size:  2.827em ;
  }
  h2
  {
      font-size: 1.999em ;
  }
  h3
  {
      font-size: 1.414em ;
  }
  h4{
      font-size:  1.21em ;
  }
}
@media(max-width:500px)
{
  .headSpan{
    display: block;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    font-size: 1rem;
  }
}
@media(max-width:300px)
{
  .buttons span{
    display: block;
    font-size: .7rem;
    padding: 0;
  }
}

#hero, #about, #tutorials{
  display: none;
}

