/* Author: Nathanial Bergan & Aaron Grode */
/* Date: October 2018 */ 

/* Color scheme:
  main color:#6B7A8F;
  accents: #F7882F; and #F76331;
  footer:#AAAAAA;
  divs:   #DCC7AA;

 */

/* START OF CSS CODE */

h1
{
    font-size:  3.998em ;
}
h2
{
    font-size:  2.827em ;
}
h3
{
    font-size: 1.999em ;
}
h4
{
    font-size: 1.414em ;
}
h5{
    font-size:  1.21em ;
}
p
{
    font-size: 1em;
}
h1, h2, h3, h4, p, h5, a, span
{
    font-family: 'Jockey One', sans-serif;
}
body {
    margin:0;
    padding:0;
}

/* PRELOADER - START -------------------------------*/

.ml9 {
  display: block;
  margin: 0 auto;
  text-align: center;
  color: white;
  position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   width: 100%;
}

.preloader {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 10000000000;
background-color: #202020;
   background-position: center;
}

.ml9 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml9 .letter {
  transform-origin: 50% 100%;
  display: inline-block;
  line-height: 1em;
}

/* PRELOADER - END -------------------------------*/

/* HERO - START -------------------------------*/

#hero{
    display:inline-block;
    vertical-align: top;
    width: 100%;
    max-height: 50%;
    padding: 0;
    margin-bottom: -5px;
}
#heroVideo {
    width: 100%;
    height: 100%;
    object-fit: fill;
}
.videoContent {
    position: absolute;
    top:0;
    color: #f1f1f1;
    padding: 20px;
    padding-top: 10%;
    padding-left: 50%;
    float: left;
    margin-left: 10%;
}

.bubbles{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transform: translateZ(0);
}

.bubbles li{
    position: absolute;
    list-style: none;
    display: block;
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0) 45%, rgba(0, 0, 0, 0) 55%, rgba(255, 255, 255, 0.7));
    border: 2px solid rgba(255,255,255,.2);
    opacity: 0.5;
    bottom: -50px;
    animation: circle 20s infinite;
    transition-timing-function: linear;
}

.bubbles li:nth-child(1){
    width: 40px;
    height: 40px;
    border-radius: 50%;
    left: 20%;
    animation-delay: 2s;
    animation-duration: 15s;
}

.bubbles li:nth-child(2){
    width: 60px;
    height: 60px;
    border-radius: 50%;
    left: 40%;
    animation-delay: 2s;
    animation-duration: 18s;
}

.bubbles li:nth-child(3){
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 60%;
    animation-delay: 4s;
    animation-duration: 9s;
}

.bubbles li:nth-child(4){
    width: 80px;
    height: 80px;
    border-radius: 50%;
    left: 80%;
    animation-delay: 1s;
    animation-duration: 22s;
}

.bubbles li:nth-child(5){
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 50%;
    animation-delay: 5s;
    animation-duration: 16s;
}

.bubbles li:nth-child(6){
    width: 30px;
    height: 30px;
    border-radius: 50%;
    left: 10%;
    animation-delay: 1s;
    animation-duration: 11s;
}

.bubbles li:nth-child(7){
    width: 50px;
    height: 50px;
    border-radius: 50%;
    left: 90%;
    animation-delay: 7s;
    animation-duration: 16s;
}

.bubbles li:nth-child(8){
    width: 20px;
    height: 20px;
    border-radius: 50%;
    left: 15%;
    animation-delay: 1s;
    animation-duration: 9s;
}

@keyframes circle {
    0%{
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
    100%{
        -webkit-transform: translateY(-1080px) rotate(-45deg);
        transform: translateY(-1080px) rotate(-45deg);
    }
}

/* CSS for hero button */
.buttonsTop{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  padding-left: 0;
  background-color: transparent;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
.buttonsTop button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
}

.tint
{
  position: relative;
}
.tint:after{
	content: "";
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0,0,0, 0.6);
	transition: all .3s linear;
    margin-bottom: 5px;
}

.tint h1, .tint h3, .tint a, .tint button{
  position: relative;
	z-index: 1;
}

/* HERO - END -------------------------------*/

/* ABOUT - START -------------------------------*/

#about{
    display:inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #AAAAAA;
    min-height:500px;
    z-index: 7;
}
#about_image{
    position:relative;
    min-height: 150px;
    min-width: 200px;
    width: 25%;
    height: 600px;
    left: 62%;
    border-left: 20px solid #202020;
    border-right: 20px solid #202020;
}
#about4{
    min-height: 100px;
    background-color: transparent;
    width: 46%;
    float: right;
    position:relative;
    top: 150px;
    right: 30%;
    padding-right: 11%;
    padding-bottom: 10%;
    z-index: 7;
}
.accent2{
    min-height: 20px;
    background-color: #202020;
    z-index: 7;
}

/* ABOUT - END -------------------------------*/

/* TUTORIALS - START -------------------------------*/

#tutorials{
    display:inline-block;
    vertical-align: top;
    width: 100%;
    background-color: #6B7A8F;
    min-height:500px;
    border-bottom: 20px solid #202020;
}

.tutorialContent{
    text-align: center;
    color: white;
}

.contentDisplayGrid
{
	padding: 0;
	margin: 0;
	list-style: none;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    padding-bottom: 20px;
}

@supports (display: grid) {
	.contentDisplayGrid {
		display: grid;
		padding: 0;
		margin: 0;
		grid-template-columns: 25% 25% 25%;
		justify-content:center;
		padding-bottom: 50px;
        justify-items: center;
	}
}

/* start tutorial_video_button */

.tutorial_video_button{
  height: 100px;
	width: 100px;
	overflow: hidden;
  background-color: #AAAAAA;
}
svg:hover .tutorial_video_button{
    fill:#DCC7AA;
    stroke:#F7C331;
    transition: all .3s linear;
}
.tutorial_video_button:hover{
  background-color: #F7882F;
  transition: all .3s linear;
}

/* end tutorial_video_button */

/* start of standard_circle */
.standard_circle
{
    height: 200px;
    width: 50%;
    overflow: hidden;
    display: block;
    margin: 10px;
    padding: 0;
    border-width: 5px;
    border-style: outset;
    border-color: #AAAAAA;
    border-radius: 50%;
    box-shadow: 10px 10px 25px;
    transition: all .3s linear;
}

.standard_circle:hover{
    box-shadow: 3px 3px 10px;
    cursor: pointer;
}

.standard_circle:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(0px);
    transform: translateX(-130px) skewX(-15deg);
}

.standard_circle:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(50px);
    transform: translateX(-100px) skewX(-15deg);
}

.standard_circle:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: 1s;
}
.standard_circle:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 1s;
}

/* WHY SHINY... WHY YOU NO WORK!? */

.newButton{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    
    background: black;
    color: #ccc;
    width: 240px;
    height: 240px;
    border: 1px solid #338033;
    font-size: 18px;
    border-radius: 4px solid green;
    transition: .6s;
    overflow: hidden;
    z-index: 3;
    border-radius: 50%;
}

.newButton:hover{

    cursor: pointer;
}

.newButton:before{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.5);
    width: 60px;
    height: 100%;
    left: 0;
    top: 0;
    opacity: .5;
    filter: blur(0px);
    transform: translateX(-130px) skewX(-15deg);
}

.newButton:after{
    content: '';
    display: block;
    position: absolute;
    background: rgba(255,255,255,.2);
    width: 30px;
    height: 100%;
    left: 30px;
    top: 0;
    opacity: 0;
    filter: blur(50px);
    transform: translateX(-100px) skewX(-15deg);
}

.newButton:hover:before{
    transform: translateX(300px) skewX(-15deg);
    opacity: .6;
    transition: 1s;
}
.newButton:hover:after{
    transform: translateX(300px) skewX(-15deg);
    opacity: 1;
    transition: 1s;
}


/* end standard_circle */


.tutorial_Text{
    text-align: center;
    color: white;
    padding: 10px;
    padding-bottom: 50px;
    font-size: 2em;
}

.display1{
    grid-column: 1;
    grid-row: 1;
}
.text1{
    grid-column: 1;
    grid-row: 2; 
}

.display2{
  grid-column: 2;
  grid-row: 1;
}
.text2{
    grid-column: 2;
    grid-row: 2;
}

.display3{
  grid-column: 3;
  grid-row: 1;
}
.text3{
    grid-column: 3;
    grid-row: 2; 
}

.display4{
  grid-column: 1;
  grid-row: 3;
}
.text4{
    grid-column: 1;
    grid-row: 4;   
}

.display5{
  grid-column: 2;
  grid-row: 3;
}
.text5{
    grid-column: 2;
    grid-row: 4;   
}

.display6{
  grid-column: 3;
  grid-row: 3;
}
.text6{
    grid-column: 3;
    grid-row: 4;   
}

.display7{
  grid-column: 1;
  grid-row: 7;
}
.text7{
    grid-column: 1;
    grid-row: 8;   
}

.display8{
  grid-column: 2;
  grid-row: 7;
}
.text8{
    grid-column: 2;
    grid-row: 8;   
}

.display9{
  grid-column: 3;
  grid-row: 7;
}
.text9{
    grid-column: 3;
    grid-row: 8;   
}

.display10{
  grid-column: 1;
  grid-row: 10;
}
.text10{
    grid-column: 1;
    grid-row: 11;   
}

.display11{
  grid-column: 2;
  grid-row: 10;
}
.text11{
    grid-column: 2;
    grid-row: 11;   
}

.buttons{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  overflow: hidden;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  padding-left: 0;
}
.buttons button{
  display: inline-block;
  position: relative;
  background: none;
  border: none;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  margin: 20px 30px;
  background: rgba(0,0,0,0.09);
  margin-bottom: 50px;
  /* width: 20%; */
}
.buttons span{
  display: block;
  padding: 25px 80px;
}

/* TUTORIALS - END ------------------------------*/

/* FOOTER - START -------------------------------*/

footer{
    display:inline-block;
    vertical-align: top;
    text-align: center;
    width: 100%;
    min-height: 400px;
    background-color: #AAAAAA;
    padding: 0;
}

/* FOOTER - END ------------------------------*/

/* BUTTONS - START ------------------------------*/

.buttons button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.buttons button:hover::before, button:hover::after{
  width: 100%;
}
.buttons button:hover span::before, button:hover span::after{
  height: 100%;
}

/*----- button 6 -----*/
.btn-6::before{
  left: 50%;
  top: 0;
  transition-duration: 0.4s;
}
.btn-6::after{
  left: 50%;
  bottom: 0;
  transition-duration: 0.4s;
}
.btn-6 span::before{
  left: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6 span::after{
  right: 0;
  top: 50%;
  transition-duration: 0.4s;
}
.btn-6:hover::before, .btn-6:hover::after{
  left: 0;
}
.btn-6:hover span::before, .btn-6:hover span::after{
  top: 0;
}

.buttons span, .buttonsTop span{
  display: block;
  padding: 25px 80px;
}
.buttonsTop button::before, button::after{
  content:"";
  width: 0;
  height: 2px;
  position: absolute;
  background: #fff;
}

span::before, span::after{
  content:"";
  width:2px;
  height:0;
  position: absolute;
  transition: all 0.2s linear;
  background: #fff;
}
.buttonsTop button:hover::before, button:hover::after{
  width: 100%;
}
.buttonsTop button:hover span::before, button:hover span::after{
  height: 100%;
}

/* BUTTONS - END -------------------------------*/











/* start of MOBILE css. only put mobile css below this */
/* _____________________________________________________________________ */

@media(max-width:1000px)
{
  .buttons button{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    padding: 10px 24px;
    background: rgba(0,0,0,0.09);
    width: 30%;
    float: left;
  }
  .buttons span{
    display: block;
    padding: 25px;
    font-size: 1rem;
  }
  .videoContent{
    padding: 0;
  }
  .buttonsTop span{
    display: block;
    padding: 0;
  }
  .headSpan{
    display: block;
    padding: 30px;
    margin: 0 auto;
    font-size: 1rem;
  }

}

@media(max-width:700px)
{
  .buttons button{
    display: inline-block;
    position: relative;
    background: none;
    border: none;
    font-size: 1rem;
    color: #fff;
    cursor: pointer;
    padding: 10px 24px;
    background: rgba(0,0,0,0.09);
    width: 30%;
    float: left;
    margin: 5px;
  }
  .buttons span{
    display: block;
    font-size: 1rem;
    padding: 0;
  }
  h1
  {
      font-size:  2.827em ;
  }
  h2
  {
      font-size: 1.999em ;
  }
  h3
  {
      font-size: 1.414em ;
  }
  h4{
      font-size:  1.21em ;
  }
}
@media(max-width:500px)
{
  .headSpan{
    display: block;
    padding: 10px 0 10px 0;
    margin: 0 auto;
    font-size: 1rem;
  }
}
@media(max-width:300px)
{
  .buttons span{
    display: block;
    font-size: .7rem;
    padding: 0;
  }
}

#hero, #about, #tutorials{
  display: none;
}

